.CardButton {
    padding-top: 30px;
}

.btn-card {
    min-width: 50%;
    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    border: none;

    box-shadow: 0 11px 36px 0 rgb(70 89 138 / 25%);

    color: white;

    height: 40px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: .688rem;
    line-height: 18px;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    border-radius: 25px;

    box-shadow: 3px 5px 10px 1px rgba(255, 255, 255, 0.3);
    transition: all 0.8s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card:hover {
    box-shadow: none;
    opacity: 0.7;
}